.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#Viewer{
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
}

#Main-Title{
  font-family: Arial-Black;
  font-size: 36px;
  color: #FFFFFF;
}

#Name-Date{
  font-family: ArialMT;
  font-size: 18px;
  color: #FFFFFF;
}

#Credit{
font-family: ArialMT;
font-size: 18px;
color: #FFFFFF;
}

#editor{
  width: 497px;
  height: 527px;
  background: #DCDCDC;
}
